.btn-wrapper {
  position: relative;
  width: min-content;
  /* height: min-content */
}
.btn-shadow {
  margin: 0.5rem;
  border-radius: 50rem;
  /* height: 1.9rem; */
  position: absolute;
  z-index: 0;
  top: 0.2rem;
  box-shadow: 0 3px 5px 0px var(--shade), inset 0 0 100px 100px var(--shade);
  width: calc(100% - (0.5rem * 2));
  font-family: "Work Sans", -system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  margin: 0.5rem;
}

.animated-btn {
  position: relative;
  z-index: 1;
  border: 0;
  border-radius: 50rem;
  color: var(--darker-shade);
  /* add a subtle debossed effect  */
  text-shadow: 0 -2px 1px var(--lighter-shade), 0 2px 1px var(--lighter-tint);
  font-family: "Work Sans", -system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  margin: 0.5rem;
  cursor: pointer;
  animation: spring 1s;
  animation-fill-mode: forwards;
  background-color: #41769b;
}
.animated-btn:hover {
  animation: press 0.3s;
  animation-fill-mode: forwards;
}

.animated-btn:active {
  box-shadow: inset 0 0 100px 100px var(--tint);
  animation: click 0.5s;
  animation-fill-mode: forwards;
}
.animated-btn:focus {
  outline: none;
}
.animated-btn:focus-visible {
  outline: 1px solid white;
}

@keyframes press {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes click {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(20%);
  }
}

@keyframes spring {
  0% {
    transform: translateY(0%);
  }

  16% {
    transform: translateY(-14.2%);
  }

  28% {
    transform: translateY(-7.68%);
  }

  44% {
    transform: translateY(-12.46%);
  }

  59% {
    transform: translateY(-8.83%);
  }

  73% {
    transform: translateY(-10.5%);
  }

  88% {
    transform: translateY(-9.8%);
  }

  100% {
    transform: translateY(-10%);
  }
}
