:root {
  --lighter-shade: rgba(0, 0, 0, 0.1);

  --shade: rgba(0, 0, 0, 0.4);

  --darker-shade: rgba(0, 0, 0, 0.5);

  --lighter-tint: rgba(255, 255, 255, 0.1);

  --tint: rgba(255, 255, 255, 0.2);

  --transition-duration-shortest: 150ms;
  --transition-duration-shorter: 200ms;
  --transition-duration-short: 250ms;
  --transition-duration-standard: 300ms;
  --transition-duration-long: 400ms;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  .thumbTitleRow {
    height: 3.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rambla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;

  color: #7d8491;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Rambla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #bd5d38;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #bd5d38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item:hover {
    cursor: pointer;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #282a36 !important;
}

.flex-bg-primary {
  background-color: #181823 !important;
}

.text-primary {
  color: #acb0b9 !important;
}
.orange {
  color: #bd5d38;
}
.gray {
  color: #7d8491 !important;
}
.blue {
  color: #41769b;
}
.green {
  color: #58682d;
}

.orange-bg {
  background-color: #bd5d38;
}
.gray-bg {
  background-color: #7d8491;
}
.blue-bg {
  background-color: #41769b;
}
.green-bg {
  background-color: #58682d;
}
#hi {
  line-height: 2.5rem !important;
}
a {
  color: #41769b;
}

a:hover,
a:focus,
a:active {
  color: #5e9dca;
  text-decoration: none;
}
hr.seperator {
  border: 5px solid#282a36;
}

.pauto {
  pointer-events: auto;
}

.pnone {
  pointer-events: none;
}

#particles-js {
  z-index: 0;
  position: absolute;
  opacity: 0.8;
  left: 0px;
  top: 0px;
}

#aboutbody {
  z-index: 1;
  pointer-events: inherit;
  position: relative;
}

#emptydiv {
  margin-top: 190px;
}

#extraspace {
  height: 300px;
}

#mobileonlyextraspace {
  height: 115px;
}

.is-current > * {
  color: white !important;
}

.iconHover:hover {
  color: #bd5d38;
}

.workContent {
  height: 0;
}
.maxWidth {
  max-width: 9rem;
}
.workThumbnail {
  box-shadow: 0 5px 5px 1px black;
  border: transparent 0.2rem solid;
  border-radius: 0.2rem;
  cursor: pointer;
  filter: grayscale(50%) brightness(80%);
  box-sizing: content-box;
}

.workThumbnail:hover {
  filter: none;
}
.workArrow {
  height: 100%;
  margin-bottom: -0.4rem;
}
.closeWorkContent {
  border: 0;
  z-index: 2;
}
.negativeMargin {
  margin-bottom: -2rem;
}
#expandedArrow {
  height: 100%;
}
#expandedContent {
  height: 100%;
}
.interiorExpandedContent {
  background-color: #282a36;
  border: 0;
  border-radius: 0.5rem;
  padding: 2rem;
}

.noHeight {
  max-height: 0px;
}
.yesHeight {
  max-height: 9999999px;
}
.workContentRow {
  overflow: hidden;
}

.activeThumbnail {
  box-sizing: content-box;
  border: #bd5d38 0.2rem solid;
  border-radius: 0.2rem;
  filter: none;
  /* transform: translateY(0.2rem); */
}
.activeThumbnail:hover {
  filter: grayscale(10%) brightness(90%);
}

.awssld__content > img {
  border: 0;
  border-radius: 0.2rem;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.711rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.striped-background::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) 4px,
    transparent 4px,
    transparent 6px
  );
  border-radius: 50rem;
}
.striped-background {
  position: relative;
  box-sizing: content-box;
}
.striped-background * {
  position: relative;
  z-index: 1;
}
.avatar-image {
  max-width: 20rem;
}
.particlesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.activePointer:hover {
  cursor: pointer;
}
.hoverShadow {
  transition: filter var(--transition-duration-shortest);
}
.hoverShadow:hover {
  filter: drop-shadow(0px 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
  cursor: pointer;
}
.hoverExtraShadow {
  transition: filter var(--transition-duration-shortest);
}
.hoverExtraShadow:hover {
  filter: drop-shadow(0px 0.2rem 0.8rem rgba(0, 0, 0, 0.4));
  box-shadow: inset 0.5rem 0.5rem 0.8rem -0.4rem rgba(255, 239, 169, 0.2) !important;
  cursor: pointer;
}
.hoverLift {
  transition: transform var(--transition-duration-shortest);
}
.hoverLift:hover {
  transform: translateY(-0.05rem);
  cursor: pointer;
}

.clickPressDown {
  transition: none;
  transition: transform cubic-bezier(0.4, 0, 0.6, 1)
    var(--transition-duration-shortest);
}
.clickPressDown:active {
  transform: translateY(0.06rem);
  cursor: pointer;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  /* inset 0px 0px 1rem 0.1rem rgba(255, 255, 255, 0.2) !important; */
}
.text-shadow {
  text-shadow: 1px 1px 2px black;
}
.aquainted-button {
  position: relative;
  display: inline;
  margin-right: 1rem;
}
.aquainted-button > * {
  position: absolute;
  top: -10px;
  bottom: 0;
  right: calc(-1rem + -10px);
  height: 100%;
  border: 10px solid transparent;
  box-sizing: content-box;
}
.particles-container {
  left: -5rem;
  width: calc(100% + 5rem);
}

.tooltip {
  background: #282a36 !important;
  font-size: 0.7rem;
  max-width: 20rem;
  line-height: 1rem;
}
