.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 8px;
  --organic-arrow-border-radius: 6px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #d5d5d5;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #fafafa;
  --control-bullet-active-color: #d5d5d5;
  --loader-bar-color: #58682d;
  --loader-bar-height: 6px;
}
